<footer>
 <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    
        <div class="f-socials">
            <h5 class="Follow">Follow Us</h5>
            
            <a href="#"><i class="fa-brands fa-facebook fa-2x"></i></a>
            <a href="#"><i class="fa-brands fa-twitter fa-2x"></i></a>
            <a href="#"><i class="fa-brands fa-instagram fa-2x"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin fa-2x"></i></a>
        </div>
            
        <div class="f-info-link">
            <a href="#">privacy</a>
            <a href="#">terms</a>
            <a href="#">sitemap</a>
        </div>
        
        <div> 
            &copy; 2025 Copyright: Wanderlust private limited
        </div> 
        <div>
            <h2>Created by @Sarbjeet~kumar</h2>
        </div>
    </div>
</footer>