<% layout("/layouts/boilerplate") %>
    <div class="row mt-3 mb-5 " style="min-height: 60vh;">
        <div class="alert alert-danger col-6 offset-3 ">
        <h4 class="alert-heading">Something went wrong!</h4>
        <p><%= err.message %></p>
        <p>error:<%= statusCode %></p><br>
        
        <a href="/listings" class="btn-search btn-outline">Go to Listings</a>
    </div>
 