body {
    background-color: #ccb880;
    font-family: Arial, sans-serif;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}
.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    height: 5rem;
}

.fa-house, .fa-brands  {
    margin-right: 1rem;
    color:#fe424d;
    font-size: 2rem;
}

.button {
    background-color: #fe424d !important;
    border: none !important;
    color: #fff !important;
}
.btn-listing {
    border: none !important;
        background-color: #f55c04 !important;
        opacity: 1 !important;
}
.btn {
    margin-bottom: 1rem;
}

.btn-listing:hover {
    opacity: 0.8 !important;
}
.btn-listing a, .btn-elisting a {
    text-decoration: none !important;
    border: none !important;
    color: #fafafb !important;
}

.btn-delete {
    text-decoration: none !important;
   color: #fe424d !important;
}

.footer {
    background-color: #333;
    height: 180px;
    color: #fff;
    text-align: center;
    position: relative;
    width: 100%;
}
.Follow {
    margin-bottom: 1rem;
    color: #fe424d;
}
.f-info-link a {
    color: #fe424d;
    text-decoration: none;
   margin: 1rem;
    font-size: 1.2rem;
}

.f-info-link a:hover {
    text-decoration: underline !important;
    
}

.f-info-link {
    height:1rem;
    font-size: 1rem;
    width: 100%;
    align-items: center;
    margin-bottom: 1rem;
}

.card {
    border:none !important;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;

}

.card:hover {
    transform: translateY(-5px);
}
.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-text p {
    font-size: 400;
}

.listing-link {
   text-decoration: none;
}


/* show edit */

.show-edits {
   margin-left: 1rem;
}

.btn {
    margin-right:1rem ;
}

/* map */
#map {
    border-radius: 15px;
    border: #090909 2px solid;
    height:400px;
    width: 100vh;
}